@model IEnumerable<WEB2022Apr_P02_T3.Models.CashVoucher>

@{
    ViewData["Title"] = "PassVoucher";
}

<h1>PassVoucher</h1>

@using (Html.BeginForm("PassVoucher", "Sales", FormMethod.Get))
{
    <p>
        Customer: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="passVoucher" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Issuing ID</th>
                    <th>Member ID</th>
                    <th>Amount</th>
                    <th>Month Issued For</th>
                    <th>Year Issued For</th>
                    <th>Date Time Issued</th>
                    <th>Voucher SN</th>
                    <th>Status</th>
                    <th>Date Time Redeemed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IssuingID</td>
                        <td>@item.MemberId</td>
                        <td>@item.Amount</td>
                        <td>@item.MonthIssuedFor</td>
                        <td>@item.YearIssuedFor</td>
                        <td>@item.DateTimeIssued</td>
                        <td>@item.VoucherSN</td>
                        <td>@item.Status</td>
                        <td>@item.DateTimeRedeemed</td>

                        <td>
                            <a asp-action="Collect" asp-controller="Sales"
                               asp-route-id="@item.IssuingID">Collect</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>}
