@model IEnumerable<WEB2022Apr_P02_T3.Models.Response>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResponseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a asp-action="Create" asp-controller="Response"
                   asp-route-id="@item.FeedbackID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
