@model IEnumerable<WEB2022Apr_P02_T3.Models.CreditCard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EndOfYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardsMain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardsSupp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCardBillings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolloverBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadDebtsWrittenOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargeOffRates)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EndOfYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardsMain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardsSupp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCardBillings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolloverBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BadDebtsWrittenOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeOffRates)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
